@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-Medium.eot');
    src: local('Neue Haas Unica Medium'), local('NeueHaasUnica-Medium'),
        url('NeueHaasUnica-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-Medium.woff2') format('woff2'),
        url('NeueHaasUnica-Medium.woff') format('woff'),
        url('NeueHaasUnica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-ExtraBold.eot');
    src: local('Neue Haas Unica Extra Bold'), local('NeueHaasUnica-ExtraBold'),
        url('NeueHaasUnica-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-ExtraBold.woff2') format('woff2'),
        url('NeueHaasUnica-ExtraBold.woff') format('woff'),
        url('NeueHaasUnica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-Bold.eot');
    src: local('Neue Haas Unica Bold'), local('NeueHaasUnica-Bold'),
        url('NeueHaasUnica-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-Bold.woff2') format('woff2'),
        url('NeueHaasUnica-Bold.woff') format('woff'),
        url('NeueHaasUnica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-Regular.eot');
    src: local('Neue Haas Unica Regular'), local('NeueHaasUnica-Regular'),
        url('NeueHaasUnica-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-Regular.woff2') format('woff2'),
        url('NeueHaasUnica-Regular.woff') format('woff'),
        url('NeueHaasUnica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gobold Lowplus';
    src: url('GoboldLowplus.eot');
    src: url('GoboldLowplus.eot?#iefix') format('embedded-opentype'),
        url('GoboldLowplus.woff2') format('woff2'),
        url('GoboldLowplus.woff') format('woff'),
        url('GoboldLowplus.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Extra1';
    src: url('GoboldExtra1.eot');
    src: url('GoboldExtra1.eot?#iefix') format('embedded-opentype'),
        url('GoboldExtra1.woff2') format('woff2'),
        url('GoboldExtra1.woff') format('woff'),
        url('GoboldExtra1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Hollow';
    src: url('GoboldHollowBoldItalic-Italic.eot');
    src: url('GoboldHollowBoldItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldHollowBoldItalic-Italic.woff2') format('woff2'),
        url('GoboldHollowBoldItalic-Italic.woff') format('woff'),
        url('GoboldHollowBoldItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold';
    src: url('Gobold.eot');
    src: url('Gobold.eot?#iefix') format('embedded-opentype'),
        url('Gobold.woff2') format('woff2'),
        url('Gobold.woff') format('woff'),
        url('Gobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Thin';
    src: url('GoboldThinLightItalic-Italic.eot');
    src: url('GoboldThinLightItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldThinLightItalic-Italic.woff2') format('woff2'),
        url('GoboldThinLightItalic-Italic.woff') format('woff'),
        url('GoboldThinLightItalic-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold High';
    src: url('GoboldHighBoldItalic-Italic.eot');
    src: url('GoboldHighBoldItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldHighBoldItalic-Italic.woff2') format('woff2'),
        url('GoboldHighBoldItalic-Italic.woff') format('woff'),
        url('GoboldHighBoldItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold High';
    src: url('GoboldHighThin.eot');
    src: url('GoboldHighThin.eot?#iefix') format('embedded-opentype'),
        url('GoboldHighThin.woff2') format('woff2'),
        url('GoboldHighThin.woff') format('woff'),
        url('GoboldHighThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Extra1';
    src: url('GoboldExtra1Italic-Italic.eot');
    src: url('GoboldExtra1Italic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldExtra1Italic-Italic.woff2') format('woff2'),
        url('GoboldExtra1Italic-Italic.woff') format('woff'),
        url('GoboldExtra1Italic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold High';
    src: url('GoboldHighItalic-Italic.eot');
    src: url('GoboldHighItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldHighItalic-Italic.woff2') format('woff2'),
        url('GoboldHighItalic-Italic.woff') format('woff'),
        url('GoboldHighItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Hollow';
    src: url('GoboldHollowBold.eot');
    src: url('GoboldHollowBold.eot?#iefix') format('embedded-opentype'),
        url('GoboldHollowBold.woff2') format('woff2'),
        url('GoboldHollowBold.woff') format('woff'),
        url('GoboldHollowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Hollow';
    src: url('GoboldHollow.eot');
    src: url('GoboldHollow.eot?#iefix') format('embedded-opentype'),
        url('GoboldHollow.woff2') format('woff2'),
        url('GoboldHollow.woff') format('woff'),
        url('GoboldHollow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold';
    src: url('GoboldBold.eot');
    src: url('GoboldBold.eot?#iefix') format('embedded-opentype'),
        url('GoboldBold.woff2') format('woff2'),
        url('GoboldBold.woff') format('woff'),
        url('GoboldBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold';
    src: url('GoboldBoldItalic-Italic.eot');
    src: url('GoboldBoldItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldBoldItalic-Italic.woff2') format('woff2'),
        url('GoboldBoldItalic-Italic.woff') format('woff'),
        url('GoboldBoldItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold';
    src: url('GoboldItalic-Italic.eot');
    src: url('GoboldItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldItalic-Italic.woff2') format('woff2'),
        url('GoboldItalic-Italic.woff') format('woff'),
        url('GoboldItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Thin';
    src: url('GoboldThinLight.eot');
    src: url('GoboldThinLight.eot?#iefix') format('embedded-opentype'),
        url('GoboldThinLight.woff2') format('woff2'),
        url('GoboldThinLight.woff') format('woff'),
        url('GoboldThinLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold High';
    src: url('GoboldHighBold.eot');
    src: url('GoboldHighBold.eot?#iefix') format('embedded-opentype'),
        url('GoboldHighBold.woff2') format('woff2'),
        url('GoboldHighBold.woff') format('woff'),
        url('GoboldHighBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold High';
    src: url('GoboldHigh.eot');
    src: url('GoboldHigh.eot?#iefix') format('embedded-opentype'),
        url('GoboldHigh.woff2') format('woff2'),
        url('GoboldHigh.woff') format('woff'),
        url('GoboldHigh.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Hollow';
    src: url('GoboldHollowItalic-Italic.eot');
    src: url('GoboldHollowItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldHollowItalic-Italic.woff2') format('woff2'),
        url('GoboldHollowItalic-Italic.woff') format('woff'),
        url('GoboldHollowItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold High';
    src: url('GoboldHighThinItalic-Italic.eot');
    src: url('GoboldHighThinItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldHighThinItalic-Italic.woff2') format('woff2'),
        url('GoboldHighThinItalic-Italic.woff') format('woff'),
        url('GoboldHighThinItalic-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Lowplus';
    src: url('GoboldLowplusItalic-Italic.eot');
    src: url('GoboldLowplusItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldLowplusItalic-Italic.woff2') format('woff2'),
        url('GoboldLowplusItalic-Italic.woff') format('woff'),
        url('GoboldLowplusItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold';
    src: url('GoboldThin.eot');
    src: url('GoboldThin.eot?#iefix') format('embedded-opentype'),
        url('GoboldThin.woff2') format('woff2'),
        url('GoboldThin.woff') format('woff'),
        url('GoboldThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Uplow';
    src: url('GoboldUplow.eot');
    src: url('GoboldUplow.eot?#iefix') format('embedded-opentype'),
        url('GoboldUplow.woff2') format('woff2'),
        url('GoboldUplow.woff') format('woff'),
        url('GoboldUplow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold Uplow';
    src: url('GoboldUplowItalic-Italic.eot');
    src: url('GoboldUplowItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldUplowItalic-Italic.woff2') format('woff2'),
        url('GoboldUplowItalic-Italic.woff') format('woff'),
        url('GoboldUplowItalic-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gobold';
    src: url('GoboldThinItalic-Italic.eot');
    src: url('GoboldThinItalic-Italic.eot?#iefix') format('embedded-opentype'),
        url('GoboldThinItalic-Italic.woff2') format('woff2'),
        url('GoboldThinItalic-Italic.woff') format('woff'),
        url('GoboldThinItalic-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

